/* Hero CSS */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

h1.uk-text-bold.massive-text {
    margin-top: -12px;
}

@media (min-width: 320px) and (max-width: 959px) {

    #header-hero {
        height: 556px;
    }

    .content-left, .content-right {
        padding-right: 0px;
    }

}